@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $Poppins;
  width: 100%;
  color: $dark;
}

#root {
  height: 100%;
}

.body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
}
